@model Client
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<h1>@Model.Name</h1>
<h1>@Model.Surname</h1>

<h1>@Model.Email</h1>

<h1>@Model.Company</h1>

<h1>@Model.Phone</h1>

<h1>@Model.Adress.Country</h1>

<h1>@Model.Adress.City</h1>

<h1>@Model.Adress.Street</h1>
<h1>@Model.Adress.PostalIndex</h1>

